@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply min-h-screen p-0 m-0 box-border text-dark bg-light dark:text-light dark:bg-dark;
    }
    body::-webkit-scrollbar {
        width: 10px;
    }
    body::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgb(242, 67, 51);
    }
}
