@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: rgba(36, 35, 32, 100%);
    --light: rgba(255, 255, 255, 100%);
    --grey: rgba(36, 35, 32, 7.5%);
    --accentFaded: rgba(242, 67, 51, 15%);
}

@layer base {
    body {
        margin: 0;
        padding: 0;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
    }
}
